{% extends 'blog_app/base.html' %}
{% block content %}

<section class="section">
    <div class="container">
        <br><br><br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold">Create your blog</h2>
                    </div>
                    <div class="card-body">
                        <form method = "POST" enctype="multipart/form-data">
                            {% csrf_token %}
<!--                            {{ form.as_p }}-->
                             <div class="mb-3">
                                <label class = "form-label">Title : </label>
<!--                                <input type="text" id="title" name="title"><br><br>-->
                                 {{ form.title }}
                             </div>

                             <div class="mb-3">
<!--                                <label for="content">content :</label>-->
<!--                                <input type="text" id="content" name="content"><br><br>-->
                                 <label class = "form-label">Content : </label>
                                 {{ form.content }}
                             </div>
                             <div class="mb-3">
<!--                                <label>Your Image File-->
<!--                                  <input type="file" name="myImage" />-->
                                 <label class = "form-label">Image : </label>
                                    {{ form.blog_image }}
<!--                                </label>-->
                             </div>
                            <br><br>
                            <button type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
